.nav {
  display: flex;
  justify-content: center;
  gap: 25px;
  list-style: none;
  margin-top: 15px;
  padding: 0;
}

.nav li {
  display: flex;
  align-items: center;
}

.nav li:hover {
  color: #a855f7;
}

.nav a {
  display: flex;
  align-items: center;
  gap: 6px;
  color: inherit;
  text-decoration: none;
  line-height: 1;
}

.nav a:hover {
  color: #a855f7;
}


