.card {
  background: #1a1a1a;
  border: 1px solid #222;
  border-radius: 10px;
  padding: 15px;
  max-width: 300px;
  margin: 10px auto;
  text-align: center;
}

/* nombre del cliente */
.cliente {
  font-weight: bold;
  margin-bottom: 10px;
  color: #a855f7;
}

/* texto */
.texto {
  font-size: 14px;
  color: #ccc;
  font-style: italic;
}